$fontFamily: "Sofia Pro", sans-serif;
//$fontFamily: "Aldrich";
$backgroundColor: #77595900;
$ColorWhite: white;

$fontColorWhite: white;
$fontColorBlack: black;
$fontColor: #464d53;
$fontColorRed: #d60039;
$fontColorBlue: #149ddd;

$fontSize: 1rem;

$backgroundColorSection: #f3f7fd45;

$topBar: #c8003e;
$footerColor: #e30047;

$boardColor: #ced4da;

$hoverColor: #f3a200;
